[nz-carousel-content] {
  text-align: center;
  border-radius: 0 0 5px 5px;
  background: var(--primary);
  color: #fff;
  overflow: hidden;
  padding: 20px;
}

h2,
h3,
h5 {
  color: var(--alice);
  margin-bottom: 0;
  user-select: none;
}
