<nz-carousel
  nzAutoPlay
  [nzEffect]="effect"
  [nzAutoPlaySpeed]="10000"
  [nzDots]="false"
  class="mb-4"
  style="height: 175px"
  *ngIf="screenWidth > 1025"
>
  <div
    nz-carousel-content
    *ngFor="let title of titles"
    data-aos="zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1000"
  >
    <h2 class="mt-2">{{ title.title1 }}</h2>
    <h3 class="mt-2">{{ title.title2 }}</h3>

    <h5 class="mt-2">{{ title.text1 }}</h5>
    <h5 class="mt-2">{{ title.text2 }}</h5>
  </div>
</nz-carousel>
<nz-carousel
  nzAutoPlay
  [nzEffect]="effect"
  [nzAutoPlaySpeed]="10000"
  [nzDots]="false"
  class="mb-4"
  style="height: 175px"
  *ngIf="screenWidth < 1025 && screenWidth > 650"
>
  <div
    nz-carousel-content
    *ngFor="let title of titles"
    data-aos="zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1000"
  >
    <h4 class="mt-2">{{ title.title1 }}</h4>
    <h5 class="mt-2">{{ title.title2 }}</h5>

    <h6 class="mt-2">{{ title.text1 }}</h6>
    <h6 class="mt-2">{{ title.text2 }}</h6>
  </div>
</nz-carousel>
<nz-carousel
  nzAutoPlay
  [nzEffect]="effect"
  [nzAutoPlaySpeed]="10000"
  [nzDots]="false"
  class="mb-4"
  style="height: 175px"
  *ngIf="screenWidth < 650"
>
  <div
    nz-carousel-content
    *ngFor="let title of titles"
    data-aos="zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1000"
  >
    <h6 class="mt-2">{{ title.title1 }}</h6>
    <h6 class="mt-2">{{ title.title2 }}</h6>

    <p class="mt-2">{{ title.text1 }}</p>
    <p class="mt-2">{{ title.text2 }}</p>
  </div>
</nz-carousel>
