<nz-header>
  <div
    class="logo"
    (click)="HomeClicked()"
    data-aos="fade-right"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
    data-aos-once="true"
  >
    <!-- <img class="logo-img" src="/assets/leadspot_logo.png" alt="" /> -->
    <img class="logo-img" src="/assets/leadspotting-logo-gif.gif" alt="" />
    <img class="logo-img" src="/assets/eliya.webp" alt="" />
  </div>
  <div
    class="regular-menu"
    data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
    data-aos-once="true"
  >
    <span class="btn" (click)="isVisibleAbout = true">About </span>

    <span class="btn" (click)="isVisibleContactUs = true">Contact us </span>

    <span class="btn" (click)="isVisibleBookADemo = true; bookADemo()"
      >Book a Call
    </span>

    <span class="btn" (click)="isVisibleVideoTutorial = true; bookADemo()">Israel Tech Video</span>

    <span
      *ngIf="!isLoggedIn"
      class="btn secondary-color"
      (click)="showModalRegister()"
    >Register</span>

    <nz-badge
      *ngIf="!isLoggedIn"
      [nzCount]="cart.length"
      [nzOverflowCount]="10"
      [nzStyle]="{ backgroundColor: 'var(--secondary)', color: '#fff' }"
    >
      <button class="login-btn" id="login-btn" (click)="showModalLogin()">
        <span class="login-span">Login</span>
      </button>
    </nz-badge>

    <span *ngIf="isLoggedIn" nz-dropdown [nzDropdownMenu]="userMenu" class="btn">Welcome</span>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="li-type" (click)="showModalAccount()">
          <div class="type">
            <span nz-icon nzType="user"></span>
            <span style="padding-left: 15px;">Account</span>
          </div>
        </li>
        <li nz-menu-item class="li-type" (click)="logout();">
          <div class="type">
            <span nz-icon nzType="logout"></span>
            <span style="padding-left: 15px;">Logout</span>
          </div>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div
    class="mobile-menu"
    data-aos="fade-left"
    data-aos-duration="1500"
    data-aos-easing="ease-in-sine"
    data-aos-once="true"
  >
    <a nz-dropdown [nzDropdownMenu]="menu">
      <span nz-icon nzType="menu" nzTheme="outline"></span>
      <!-- <span nz-icon nzType="down"></span> -->
    </a>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item
            *ngIf="!isLoggedIn"
            (click)="showModalLogin()"
        >
          <span class="">Login</span>
        </li>
        <li nz-menu-item
            (click)="showModalRegister()"
            *ngIf="!isLoggedIn"
        >
          <span class="">Register</span>
        </li>

        <li nz-menu-item
            (click)="showModalAccount()"
            *ngIf="isLoggedIn"
        >
          <span>Account</span>
        </li>

        <li nz-menu-item (click)="isVisibleAbout = true">
          <span class="">About </span>
        </li>
        <li nz-menu-item (click)="isVisibleContactUs = true">
          <span class="">Contact us </span>
        </li>
        <li nz-menu-item (click)="isVisibleBookADemo = true">
          <span class="">Book a demo</span>
        </li>
        <li nz-menu-item (click)="isVisibleVideoTutorial = true">
          <span class="">IsraelTech Video</span>
        </li>
        <li nz-menu-item
            (click)="logout();"
            *ngIf="isLoggedIn"
        >
          <span>Logout</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</nz-header>

<ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  <nz-empty
    style="
      height: calc(100% - 120px);
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
    "
    [nzNotFoundContent]="'No Items in cart'"
    *ngIf="cart.length == 0"
  ></nz-empty>
  <div class="items-div" *ngIf="cart.length > 0">
    <div *ngFor="let item of cart">
      <app-cart-item-card
        [list]="item"
        (removeItemEvent)="removeItemFromCart($event)"
      ></app-cart-item-card>
    </div>
  </div>

  <br />
  <br />
  <div class="row mb-3" *ngIf="cart.length > 0">
    <div class="col">Total</div>
    <div class="col">{{ getTotalCartPrice() }}$</div>
  </div>
  <app-paypal
    *ngIf="cart.length > 0"
    [price]="getTotalCartPrice()"
    (newPaymentEvent)="paymentDone($event)"
  ></app-paypal>
  <br />
  <br />
  <button nz-button nzType="primary" (click)="drawerRef.close()">close</button>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisibleAbout"
  nzTitle="About BSI"
  (nzOnCancel)="handleCancelAbout()"
  (nzOnOk)="handleOkAbout()"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <p>
      Welcome to the BSI website.
      Business owners from Israel and around the world are invited to register on the site and discover your new business partners.
    </p>
    <div>
      <span class="modal-title"></span>
      <p>
        Inspired by the challenges faced during the wars in Israel, a group of entrepreneurs led us to establish this non-profit website. Our goal is to assist Israeli businesses in finding their next collaborations with companies from all over the world.
      </p>
    </div>
    <div>
      <span class="modal-title"> </span>
      <p>
        Why operate as a non-profit? The Israeli spirit carries with it a sense of volunteering and mutual assistance. While in normal circumstances, every business operates for its own sake, seeking business partners in its own ways, during times of war, many entrepreneurs have fought and continue to fight for the country. We, as entrepreneurs, are committed to each other and committed to doing what we can to support businesses and companies in their activities and growth. This site is for the benefit of all businesses and companies that want to do business with Israeli entrepreneurs.
      </p>
      <p>
        Our contribution is the platform for connecting people. Between businesses. Between countries.
        The site is tailored for companies specializing in export in various fields.
        All you need to do – whether you are a business from Israel or abroad – is to register and start working.
      </p>
    </div>
    <div>
      <span class="modal-title"> </span>
      <p>
        At BSI, we believe in making the process of finding businesses easy and efficient. The platform on the site allows you to easily filter and find the industries and types of companies that suit your business needs.
      </p>
    </div>
    <div>
      <span class="modal-title"> </span>
      <p>
      </p>
    </div>
  </ng-container>
</nz-modal>

<!-- Contact us -->
<nz-modal
  [(nzVisible)]="isVisibleContactUs"
  nzTitle="Contact us"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancelContactUs()"
>
  <ng-container *nzModalContent>
    <div *ngIf="registrationError == true">
      <h5>Error!</h5>
      <p>We apologize, but there was an issue sending your contact message.</p>

      <p>
        Please double-check the form fields and try again. If the problem
        persists, please contact us directly for assistance. We apologize for
        any inconvenience caused.
      </p>
    </div>
    <p>
    </p>
    <form
      nz-form
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
      *ngIf="register_success == false"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>
          <span>First name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your First name!"
        >
          <input
            nz-input
            id="firstName"
            formControlName="firstName"
            placeholder="first name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
          <span>Last name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your Last name!"
        >
          <input
            nz-input
            id="lastName"
            formControlName="lastName"
            placeholder="last name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
          >E-mail</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input
            nz-input
            formControlName="email"
            id="email"
            placeholder="email"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber">
          <span>Phone number</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your Phone number!"
        >
          <input
            nz-input
            id="phoneNumber"
            formControlName="phoneNumber"
            placeholder="phone number"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="message" nzRequired
          >Message</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your message!"
        >
          <!-- <input
            nz-input
            id="message"
            formControlName="message"
            placeholder="message"
          /> -->
          <textarea
            nz-input
            id="message"
            formControlName="message"
            placeholder="message"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div *ngIf="register_success == true">
      <h5>Congratulations!</h5>
      <p>
        Your message has been successfully sent. We appreciate you reaching out
        to us through our contact form. Our team will review your message and
        get back to you as soon as possible.
      </p>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <!-- <button nz-button nzType="default" (click)="handleCancel()">
      Custom Callback
    </button> -->
    <button
      *ngIf="register_success == false"
      style="width: 100%"
      nz-button
      nzType="primary"
      (click)="submitForm()"
      [nzLoading]="isConfirmLoading"
    >
      Submit
    </button>
    <button
      *ngIf="register_success == true"
      nz-button
      nzType="primary"
      (click)="handleCancelContactUs()"
      [nzLoading]="isConfirmLoading"
    >
      Cancel
    </button>
  </ng-template>
</nz-modal>

<!-- book a demo -->
<nz-modal
  [(nzVisible)]="isVisibleBookADemo"
  nzTitle="Book A Call"
  nzClosable="true"
  [nzFooter]="null"
  (nzOnCancel)="handleCancelBookADemo()"
>
  <ng-container *nzModalContent>
    <!-- <p>
Choose a day and save time by scheduling your appointment. Fill in your details, and we'll be ready to assist you.    </p> -->
    <div>
      <span class="modal-title">Schedule a Meeting now </span>
      <p>
        Please select a convenient day and time for your appointment.
      </p>
    </div>

    <app-bookademo-dialog></app-bookademo-dialog>
  </ng-container>
</nz-modal>

<!-- Video tutorial -->
<nz-modal
  [(nzVisible)]="isVisibleVideoTutorial"
  nzTitle="IsraelTech Video"
  nzClosable="true"
  [nzFooter]="null"
  (nzOnCancel)="handleCancelVideoTutorial()"
  [nzWidth]="'70%'"
  [nzStyle]="{'top': '0', 'transform': 'translateY(7%)'}"
>
  <ng-container *nzModalContent>
    <div
      style="
              position: relative;
              padding-bottom: 56.25%;
              height: 0;
              text-align: center;
            "
    >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/quvPSKtLYsg" frameborder="0" allowfullscreen></iframe>
    </div>
  </ng-container>
</nz-modal>

<!-- Register -->
<nz-modal
  [(nzVisible)]="register_isVisible"
  nzTitle="Sign Up"
  nzClosable="true"
  [nzFooter]="(register_step == 0 && registerModalFooter) || (register_step == 1 && verifyTokenModalFooter) || null"
  (nzOnCancel)="register_handleCancel()"
  [nzStyle]="{'top': '0', 'transform': 'translateY(7%)'}"
>
  <ng-container *nzModalContent>

    <form
      nz-form
      [formGroup]="register_formGroup"
      (ngSubmit)="register_submitForm()"
      *ngIf="register_step == 0"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" nzRequired>
          <span>First name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your First name!"
        >
          <input
            nz-input
            id="register_firstName"
            formControlName="firstName"
            placeholder="first name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" nzRequired>
          <span>Last name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your Last name!"
        >
          <input
            nz-input
            id="refister_lastName"
            formControlName="lastName"
            placeholder="last name"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
        >E-mail</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input
            nz-input
            formControlName="email"
            id="register_email"
            placeholder="email"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="register_password">
          <span>Password</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Enter your password!"
        >
          <input
            nz-input
            type="{{register_passwordVisible ? 'text' : 'password'}}"
            id="register_password"
            formControlName="password"
            placeholder="password"
          />
          <i nz-icon [nzType]="register_passwordVisible ? 'eye-invisible' : 'eye'" class="password-toggle" (click)="toggleRegisterPasswordVisible()"></i>

        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="register_verifyPassword">
          <span>Verify password</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="12"
          [nzXs]="24"
        >
          <input
            nz-input
            type="{{register_verifyPasswordVisible ? 'text' : 'password'}}"
            id="register_verifyPassword"
            formControlName="verifyPassword"
            placeholder="verify password"
          />
          <i nz-icon [nzType]="register_verifyPasswordVisible ? 'eye-invisible' : 'eye'" class="password-toggle" (click)="toggleRegisterVreifyPasswordVisible()"></i>
          <div role="alert" class="error-message" *ngIf="hasErrors('verifyPassword')">
            {{getErrorMessage('verifyPassword')}}
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please accept the terms and conditions">
          <label nz-checkbox formControlName="termsAndConditions">I accept terms and conditions</label>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please accept the terms and conditions">
          <label nz-checkbox formControlName="receiveNewsLetter">I want to receive the newsletter</label>
        </nz-form-control>
      </nz-form-item>

      <div class="error-message center" *ngIf="register_error">Something went wrong!</div>
    </form>

    <form style="padding: 0 16px !important"
          *ngIf="register_step == 1">
      <div class="popUp-content mt-4" style="text-align: center">
              <span class="span-bolder">We’ve sent a verification code to: <br />
                <span class="span-email">{{ register_formGroup.controls["email"].value }}</span>
              </span>
        <br />
        <br />
        <span class="span-bolder mt-4">Enter your verification code below:</span>
      </div>
      <div class="input-container d-flex flex-row justify-content-center mt-4">
        <input
          type="text"
          class="m-1 text-center form-control rounded otp"
          maxlength="1"
          [(ngModel)]="register_token[0]"
          [ngModelOptions]="{standalone: true}"
          (keyup)="register_keyUp($event, 0)"
          (input)="register_onInput($event, 0)" maxlength="1"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded otp"
          maxlength="1"
          [(ngModel)]="register_token[1]"
          [ngModelOptions]="{standalone: true}"
          (keyup)="register_keyUp($event, 1)"
          (input)="register_onInput($event, 1)" maxlength="1"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded otp"
          maxlength="1"
          [(ngModel)]="register_token[2]"
          [ngModelOptions]="{standalone: true}"
          (keyup)="register_keyUp($event, 2)"
          (input)="register_onInput($event, 2)" maxlength="1"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded otp"
          maxlength="1"
          [(ngModel)]="register_token[3]"
          [ngModelOptions]="{standalone: true}"
          (keyup)="register_keyUp($event, 3)"
          (input)="register_onInput($event, 3)" maxlength="1"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded otp"
          maxlength="1"
          [(ngModel)]="register_token[4]"
          [ngModelOptions]="{standalone: true}"
          (keyup)="register_keyUp($event, 4)"
          (input)="register_onInput($event, 4)" maxlength="1"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded otp"
          maxlength="1"
          [(ngModel)]="register_token[5]"
          [ngModelOptions]="{standalone: true}"
          (keyup)="register_keyUp($event, 5)"
          maxlength="1"
        />
      </div>

      <div
        class="col-12 red mt-3"
        style="text-align: center"
        *ngIf="register_tokenError == true"
      >Invalid Token</div>
    </form>

    <div *ngIf="register_step == 2"
         style="text-align: center"
         class="mt-4 span-bolder">
      <p style="color: var(--secondary)">You are now done</p>
      <p style="color: var(--primaryLight)">
        Redirecting to Login Page...
      </p>
    </div>
  </ng-container>
  <ng-template #registerModalFooter>
    <button
      style="width: 100%"
      nz-button
      nzType="primary"
      (click)="register_submitForm()"
      [nzLoading]="isConfirmLoading"
    >Create Account</button>
    <div style="text-align: center; margin-top: 13px;">Already a member? <span class="btn inline" (click)="showModalLogin()">Sign in</span></div>
  </ng-template>
  <ng-template #verifyTokenModalFooter>
    <button
      style="width: 100%"
      nz-button
      nzType="primary"
      [disabled]="!register_check()"
      [ngClass]="{ disabled: !register_check() }"
      (click)="register_submitToken()"
    >VERIFY</button>
    <div style="text-align: center" class="mt-5">
      <span class="span-lighter"
            style="color: var(--primaryLight)">If you don't see it please check your spam folder</span>
    </div>
  </ng-template>
</nz-modal>

<!-- Login -->
<nz-modal
  [(nzVisible)]="login_isVisible"
  nzTitle="Sign In"
  nzClosable="true"
  [nzFooter]="loginModalFooter"
  (nzOnCancel)="handleCancelLoginDialog()"
  [nzStyle]="{'top': '0', 'transform': 'translateY(7%)'}"
>
  <ng-container *nzModalContent>

    <form
      nz-form
      [formGroup]="validateLoginForm"
      (ngSubmit)="submitLoginForm()"
      *ngIf="loggedInSuccessfully == false"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="login_email"
        >E-mail</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input
            nz-input
            id="login_email"
            formControlName="email"
            placeholder="email"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="login_password">
          <span>Password</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Enter your password!"
        >
          <input
            nz-input
            type="{{login_passwordVisible ? 'text' : 'password'}}"
            id="login_password"
            formControlName="password"
            placeholder="password"
          />
          <i nz-icon [nzType]="login_passwordVisible ? 'eye-invisible' : 'eye'" class="password-toggle" (click)="toggleLoginPasswordVisible()"></i>

        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzSpan]="24" nzErrorTip="Please accept the terms and conditions">
          <label nz-checkbox formControlName="rememberMe">Remember me</label>
          <span class="btn inline" style="float: right;" (click)="showModalResetPassword()">Forgot password</span>
        </nz-form-control>
      </nz-form-item>

      <div class="error-message center">{{login_errorMessage}}</div>
    </form>
  </ng-container>
  <ng-template #loginModalFooter>
    <button
      style="width: 100%"
      nz-button
      nzType="primary"
      (click)="submitLoginForm()"
      [nzLoading]="isConfirmLoading"
    >Log In</button>
    <div style="text-align: center; margin-top: 13px;">Don't have an account? <span class="btn inline" (click)="showModalRegister()">Create</span></div>
  </ng-template>
</nz-modal>

<!-- Reset password -->
<nz-modal
  [(nzVisible)]="isVisibleResetPassword"
  nzTitle="Reset Password"
  nzClosable="true"
  [nzFooter]="resetPasswordModalFooter"
  (nzOnCancel)="handleCancelResetPasswordDialog()"
  [nzStyle]="{'top': '0', 'transform': 'translateY(7%)'}"
>
  <ng-container *nzModalContent>
    <p>Simply enter your email address in the field below and click the 'Reset Password' button.</p>
    <form
      nz-form
      [formGroup]="validateResetPasswordForm"
      (ngSubmit)="submitResetPasswordForm()"
      *ngIf="resetPasswordSuccessfully == false"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="resetPassword_email"
        >E-mail</nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input
            nz-input
            id="resetPassword_email"
            formControlName="email"
            placeholder="email"
          />
        </nz-form-control>
      </nz-form-item>

      <div class="error-message center">{{resetPassword_errorMessage}}</div>
    </form>
  </ng-container>
  <ng-template #resetPasswordModalFooter>
    <button
      style="width: 100%"
      nz-button
      nzType="primary"
      (click)="submitResetPasswordForm()"
      [nzLoading]="isConfirmResetPassword"
    >Reset Password</button>
    <div style="text-align: center; margin-top: 13px;">Don't have an account? <span class="btn inline" (click)="showModalRegister()">Create</span></div>
  </ng-template>
</nz-modal>

<!-- Account -->
<company-modal-edit
  [company]="company"
  [isVisible]="isVisibleAccount"
  (onCancel)="handleCancelAccountDialog()"
  ></company-modal-edit>
