nz-header {
  background-color: rgb(240, 248, 255);
  // height: 84px;
  // line-height: 84px;
}
.logo {
  float: left;
  cursor: pointer;
  // background: rgba(255, 255, 255, 0.2);
  // background: rgba(218, 235, 250, 0.8);
  // width: 120px;

  transition: 500ms ease-in-out;
  .logo-img {
    width: 150px;
    padding: 2px;
  }
}
.logo:hover {
  scale: calc(1.1);
}
