nz-header {
  background-color: rgb(240, 248, 255);
  // height: 84px;
  // line-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  float: left;
  cursor: pointer;
  // background: rgba(255, 255, 255, 0.2);
  // background: rgba(218, 235, 250, 0.8);
  // width: 120px;
  transition: 0.3s ease-in-out 0s !important;

  // transition: 500ms ease-in-out;
  .logo-img {
    // width: 150px;
    width: 233px;
    padding: 2px;
  }
}
.logo:hover {
  scale: calc(1.1);
}
.items-div {
  overflow: auto;
  height: calc(100vh - 452px);
  overflow-x: hidden;
}

.btn {
  margin: 1rem;
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--primaryLight);
  transition: 0.3s ease-in-out 0s;
  opacity: 0.9;
}
.btn:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
}

.login-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.login-btn {
  border-radius: 500px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.05rem 1.3rem !important;
  font-size: 14px !important;
  border: 2px solid var(--primary);
  color: #fff;
  display: block;
  background: var(--primary);
  line-height: 21px;

  transition: 0.3s ease-in-out 0s;
}

.modal-title {
  font-size: initial;
}

[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.ant-form-item-label {
  text-align: left !important;
  margin-right: 10px !important;
}

.mobile-menu {
  display: none;
}
@media (max-width: 1384px) {
  .mobile-menu {
    display: block;
  }
  .regular-menu {
    display: none;
  }
}

.secondary-color {
  color: var(--secondary);
}
.password-toggle {
  position: absolute;
  right: 8px;
  top: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 19px;
}
.error-message {
  color: red;
}
.error-message.center {
  text-align: center;
}
.btn.inline{
  margin:0;
  padding: 0;
}

.span-email {
  color: var(--secondary) !important;
  font-weight: bolder !important;
}
.span-bolder {
  font-weight: bolder !important;
}
.span-lighter {
  font-size: x-small !important;
}
.form-control:focus {
  // box-shadow: none !important;
  // border: 1px solid var(--primary) !important;
  border-color: var(--secondaryTrans);

  box-shadow: 0 0 0 0.25rem var(--secondaryTrans) !important;
}

.danger {
  box-shadow: 0 0 0 0.2rem rgba(197, 8, 18, 0.5);
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  border-radius: 5px;
  width: 100% !important;
}
