.footer {
  height: 218px;

  bottom: 0;
  width: -webkit-fill-available;
  background: var(--primary);
  // box-shadow: inset 0 2px 2px hsl(0deg 0% 72% / 50%) !important;
  display: grid;
  // color: var(--text);
  color: var(--white) !important;

  .footer-div {
    padding: 3rem;
    .left-col {
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      grid-row-gap: 1.5rem;
    }
    .right-col {
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-end;
      grid-row-gap: 1.5rem;
    }
    .logo-div {
      // background-color: bisque;
      background: rgba(255, 255, 255, 0.2);

      padding: 10px;
      .logo {
        width: 150px;
      }
    }
    .icons-div {
      display: flex;
      .icon-div {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        // border: 1px solid var(--primary);
        border: 1px solid var(--content);

        margin-right: 10px;
        text-align: center;
        transition: 0.3s ease-in-out 0s;

        .icon {
          width: 11px !important;
          // fill: var(--primary);
          fill: var(--content);

          margin-top: 5px;
        }
        .linkedin {
          width: 16px !important;
        }
        .youtube {
          width: 20px !important;
        }
        .twitter {
          width: 19px !important;
        }
      }

      .icon-div:hover {
        border-radius: 20px;
        // border: 1px solid var(--primary);
        border: 1px solid var(--content);

        margin-right: 10px;
        // background-color: var(--primary);
        background-color: var(--content);

        .icon {
          // fill: var(--contentGreyBackground);
          fill: var(--primary);
        }
      }
    }
  }
}
