.card {
  border-radius: 4px;
  min-height: 321px;
}

.img-div {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  height: auto;
  img {
    transition: 1s ease all;
    object-fit: cover;
    overflow: hidden;
    width: inherit;
  }
}
.card:hover {
  img {
    transform: scale(1.25);
  }
}
// [nz-button] {
//   margin-right: 8px;
//   margin-bottom: 12px;
// }
#buy-btn {
  transition: 0.3s ease-in-out 0s;
}
#buy-btn:hover {
  background-color: var(--secondaryLight) !important;
}
[nz-button],
#action-btn {
  width: 85px !important;
  // min-width: 50px;
}
.card-body {
  // display: flex;
}

.list-name {
  white-space: normal;
  text-transform: capitalize;
}

.list-leads-title-div {
  width: auto;
  // transition: 0.3s ease-in-out 0s;
}

.list-leads-title {
  color: var(--primaryLight);
}

// .list-leads-title-div:hover {
//   .list-leads-title {
//     color: var(--primary);
//   }
// }
// .list-leads-number:hover {
//   nz-statistic-number {
//     color: var(--primary) !important;
//   }
// }
@media screen and (max-width: 500px) {
  [nz-button] {
    width: 50px;
    // min-width: 50px;
  }
}
