<nz-card
  nzHoverable
  class="card skelaton"
  [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
  *ngIf="skelatonActive == true"
>
  <nz-skeleton-element
    nzType="image"
    [nzActive]="skelatonActive"
  ></nz-skeleton-element>
  <nz-skeleton [nzActive]="skelatonActive"></nz-skeleton>
</nz-card>

<nz-card
  *ngIf="skelatonActive == false"
  nzHoverable
  class="card"
  [nzCover]="coverTemplate"
  [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
>
  <!-- <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com">
  </nz-card-meta> -->
  <!-- <div class="card-body"> -->

  <div class="row">
    <div class="col ant-card-meta-title ng-star-inserted list-name">
      {{ list.name }}
    </div>
  </div>
  <div class="row mt-2">
    <div
      class="col"
      class="ant-card-meta-description ng-star-inserted list-leads-title-div"
    >
      <span class="list-leads-title"># of leads</span>
    </div>
    <div class="col" style="text-align: end">
      <span class="list-leads-title"># of downloads</span>

      <!-- <nz-rate [ngModel]="randomStar" nzDisabled style="line-height: 25px">
      </nz-rate> -->
    </div>
  </div>

  <div class="row" style="margin-top: -10px">
    <!-- [nzTitle]="'Feedback'" -->
    <div class="col list-leads-number" style="text-align: start">
      <nz-statistic
        class="statistics"
        nzValue="{{ list.leads }}"
      ></nz-statistic>
    </div>
    <div class="col list-leads-number" style="text-align: end">
      <!-- <ng-template #prefixTpl
        ><span
          nz-icon
          id="cloudD"
          nzType="cloud-download"
          style="vertical-align: 2px"
        ></span
                [nzPrefix]="prefixTpl"

      ></ng-template> -->
      <nz-statistic class="statistics" [nzValue]="randomLike"> </nz-statistic>
      <!-- <nz-statistic
        class="statistics"
        [nzValue]="randomLike"
        [nzPrefix]="prefixTpl"
        (click)="cardLiked()"
      ></nz-statistic> -->
    </div>
  </div>

  <!-- </div> -->
</nz-card>
<ng-template #coverTemplate>
  <div class="img-div">
    <!-- <img
      alt="example"
      src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
    /> -->
    <img alt="example" src="/assets/small-logo.png" />
  </div>
</ng-template>
<ng-template #actionSetting>
  <nz-skeleton-element
    nzType="button"
    [nzActive]="skelatonActive"
    [nzSize]="'small'"
    [nzShape]="'default'"
    *ngIf="skelatonActive == true"
  ></nz-skeleton-element>

  <!-- <span nz-icon nzType="shopping-cart"></span> -->
  <button
    *ngIf="skelatonActive == false"
    id="buy-btn action-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    style="background-color: var(--secondary); border-color: var(--secondary)"
    (click)="showModal()"
  >
    <span nz-icon nzType="shopping-cart"></span>
  </button>
</ng-template>
<ng-template #actionEdit>
  <nz-skeleton-element
    *ngIf="skelatonActive == true"
    nzType="button"
    [nzActive]="skelatonActive"
    [nzSize]="'small'"
    [nzShape]="'default'"
  ></nz-skeleton-element>
  <button
    *ngIf="skelatonActive == false"
    id="action-btn"
    nz-button
    nzType="primary"
    nzSize="large"
    nz-tooltip
    [nzTooltipTitle]="titleTemplate"
    [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
    nzTooltipColor="var(--primaryLight)"
    nzTooltipPlacement="bottom"
    (click)="notificationModal(notification)"
  >
    <span nz-icon nzType="download" nzTooltipTitle="download 5 samples"></span>
  </button>

  <ng-template #titleTemplate let-thing>
    <span>
      <span nz-icon nzType="file" style="vertical-align: 2px"></span> download 5
      samples</span
    >
  </ng-template>

  <!-- <span
    nz-icon
    nzType="download"
    nzTooltipTitle="download 5 samples"
    nzTooltipPlacement="bottom"
    nzTooltipColor="#93ca5a"
    nz-tooltip
  ></span> -->
</ng-template>
<ng-template #actionEllipsis>
  <!-- <span nz-icon nzType="ellipsis"></span> -->
  <nz-skeleton-element
    *ngIf="skelatonActive == true"
    nzType="button"
    [nzActive]="skelatonActive"
    [nzSize]="'small'"
    [nzShape]="'default'"
  ></nz-skeleton-element>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    id="action-btn"
    *ngIf="skelatonActive == false"
  >
    <span nz-icon nzType="ellipsis"></span>
  </button>
</ng-template>

<ng-template #notification>
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <span nz-icon nzType="smile" style="color: rgb(16, 142, 233)"></span>
      </span>
      <div class="ant-notification-notice-message">
        Sample Pack Download Successful!
      </div>
      <div class="ant-notification-notice-description">
        <p>
          Congratulations! You have successfully downloaded a sample pack of 5
          leads.
        </p>
        <p>
          We're confident that these leads will be valuable to your business,
          and we hope you'll take the next step and upgrade to a full list.
        </p>
        <p>
          If you have any questions or need help with anything, don't hesitate
          to reach out to our support team.
        </p>
        <p>Thanks for choosing our service!</p>
      </div>
    </div>
  </div>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>
  <ng-template #modalTitle>Full List Purchase Successful!</ng-template>

  <ng-template #modalContent>
    <p>
      Congratulations! You have successfully purchased a full list of leads.
    </p>
    <p>
      Your list will be available for download shortly, and we'll send you an
      email with instructions on how to access it.
    </p>
    <p>
      In the meantime, you can start preparing your marketing strategies and
      campaigns to make the most of these leads.
    </p>
    <p>
      If you have any questions or need help with anything, don't hesitate to
      reach out to our support team.
    </p>
    <p>Thanks for choosing our service!</p>
  </ng-template>

  <ng-template #modalFooter>
    <div class="row">
      <div class="col" style="text-align: center">
        <button
          nz-button
          nzType="default"
          style="width: auto !important"
          (click)="handleCancel()"
        >
          Custom Callback
        </button>
      </div>
      <div class="col" style="text-align: center">
        <button
          style="width: auto !important"
          nz-button
          nzType="primary"
          (click)="handleOk()"
          [nzLoading]="isConfirmLoading"
        >
          Custom Submit
        </button>
      </div>
    </div>
  </ng-template>
</nz-modal>
