<nz-collapse
  nzExpandIconPosition="left"
  data-aos="zoom-in"
  data-aos-easing="ease-in-sine"
  data-aos-duration="1000"
  data-aos-once="true"
>
  <nz-collapse-panel
    nzHeader="Filter By"
    nzActive="panel.active"
    [nzExtra]="extraTpl"
  >
    <div class="row filters-row">
      <div
        class="col"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
        data-aos-once="true"
      >
        <div class="title-question">
          <h4 nz-typography class="title">Type</h4>
          <span
            nz-tooltip
            [nzTooltipColor]="'var(--primaryLight)'"
            nzTooltipTitle="Select the type of leads you are searching for. Options include customers lists or email lists."
            color="primary"
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
        </div>
        <button
          nzSize="large"
          nz-button
          nz-dropdown
          [nzDropdownMenu]="isAuthorized() ? menu : null"
          style="display: flex; justify-content: space-between; width: 100%"
          (click)="preventUnauthorized($event)"
        >
          <!-- class="width-100 alignLeft placeholder" -->

          <!-- <div style="display: flex; justify-content: space-between"> -->
          Select a type <span nz-icon nzType="down"></span>
          <!-- </div> -->
          <!-- Select...
          <span nz-icon nzType="down"></span> -->
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item class="li-type" (click)="companiesFromIsraelClicked()">
              <div class="type">
                <span>Companies from Israel</span>
                <nz-switch
                  [ngModel]="CompaniesFromIsrael"
                  [nzCheckedChildren]="checkedTemplate"
                  [nzUnCheckedChildren]="unCheckedTemplate"
                ></nz-switch>
                <ng-template #checkedTemplate
                  ><span nz-icon nzType="check"></span
                ></ng-template>
                <ng-template #unCheckedTemplate
                  ><span nz-icon nzType="close"></span
                ></ng-template>
              </div>
            </li>
            <li nz-menu-divider></li>

            <li nz-menu-item class="li-type" (click)="companiesFromOverseaClicked()">
              <div class="type">
                <span>Companies from overseas</span>
                <nz-switch
                  [ngModel]="CompaniesFromOversea"
                  [nzCheckedChildren]="checkedTemplate"
                  [nzUnCheckedChildren]="unCheckedTemplate"
                ></nz-switch>
                <ng-template #checkedTemplate
                  ><span nz-icon nzType="check"></span
                ></ng-template>
                <ng-template #unCheckedTemplate
                  ><span nz-icon nzType="close"></span
                ></ng-template>
              </div>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>

      <div
        class="col"
        data-aos="fade-up"
        data-aos-delay="400"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
        data-aos-once="true"
      >
        <div class="title-question">
          <h4 nz-typography class="title">Benefits</h4>
          <span
            nz-tooltip
            [nzTooltipColor]="'var(--primaryLight)'"
            nzTooltipTitle="Enter keywords related to what you are searching for. The search will return results that match any of the keywords entered."
            color="primary"
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
        </div>

        <nz-input-group
          nzSearch
          nzSize="large"
          [nzAddOnAfter]="suffixIconButton"
          [nzSuffix]="inputClearTpl"
        >
          <input
            placeholder="Search by keyword"
            nz-input
            [(ngModel)]="inputValue"
            (input)="filter()"
            [nzAutocomplete]="auto"
          />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="inputValue"
            (click)="inputValue = ''; filter()"
          ></span>
        </ng-template>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch (click)="filter()">
            <span nz-icon nzType="search" nzTheme="outline"></span>
          </button>
        </ng-template>
        <nz-autocomplete #auto nzBackfill="true">
          <nz-auto-option
            class="global-search-item"
            *ngFor="let option of options"
            [nzValue]="option.originReadyList?.name"
            (click)="onOptionClicked(option.originReadyList.name)"
            nz-tooltip
            [nzTooltipTitle]="titleTemplate"
            [nzTooltipTitleContext]="{ $implicit: 'Icon' }"
            nzTooltipColor="var(--primaryLight)"
            nzTooltipPlacement="right"
          >
            ={{ option.originReadyList.name }}=
            <ng-template #titleTemplate let-thing>
              <span>
                <span nz-icon nzType="file" style="vertical-align: 2px"></span>
                {{ option.originReadyList.name }}</span
              >
            </ng-template>
          </nz-auto-option>
        </nz-autocomplete>
      </div>
      <div
        class="col"
        data-aos="fade-up"
        data-aos-delay="800"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
        data-aos-once="true"
      >
        <div class="title-question">
          <h4 nz-typography class="title">Location</h4>
          <span
            nz-tooltip
            [nzTooltipColor]="'var(--primaryLight)'"
            nzTooltipTitle="Select the location where you would like to search for businesses or organizations. This can be a specific city, state, or country."
            color="primary"
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
        </div>
        <nz-select
          nzSize="large"
          nzShowSearch
          nzAllowClear
          nz-button
          nz-dropdown
          nzMode="multiple"
          nzPlaceHolder="Select a location"
          [nzOptions]="isAuthorized() ? listOfLocationOption : []"
          [(ngModel)]="selectedLocationValue"
          (click)="preventUnauthorized()"
          (ngModelChange)="filter();"
        >
        </nz-select>
      </div>
      <div
        class="col"
        data-aos="fade-up"
        data-aos-delay="1200"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
        data-aos-once="true"
      >
        <div class="title-question">
          <h4 nz-typography class="title">Industry</h4>
          <span
            nz-tooltip
            [nzTooltipColor]="'var(--primaryLight)'"
            nzTooltipTitle="Select the industry that best describes the type of business or organization you are searching for. This will help narrow down the search results."
            color="primary"
            nz-icon
            nzType="question-circle"
            nzTheme="twotone"
          ></span>
        </div>
        <nz-select
          nzShowSearch
          nzSize="large"
          nzAllowClear
          nzMode="multiple"
          nzPlaceHolder="Select an industry"
          [nzOptions]="isAuthorized() ? listOfIndustryOption : []"
          [(ngModel)]="selectedIndustryValue"
          (click)="preventUnauthorized()"
          (ngModelChange)="filter()"
        >
        </nz-select>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<ng-template #extraTpl>
  <!-- You can use stopPropagation if you don't want the panel to toggle -->
  <span
    nz-icon
    nzType="filter"
    (click)="$event.stopPropagation()"
    class="filter-icon"
  ></span>
  <!-- <span nz-icon nzType="filter" nzTheme="outline"></span> -->
</ng-template>

<nz-content class="mt-4">
  <div
    *ngIf="!loadingFinalListss"
    class="row"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1000"
    data-aos-delay="1000"
    data-aos-once="true"
    style="display: flex; flex-wrap: wrap; gap: 20px"
  >
    <!-- nzXs="12"
    nzSm="12"
    nzMd="12"
    nzLg="8"
    nzXl="10" -->
    <nz-empty class="mt-2" *ngIf="empty == true"></nz-empty>

    <div class="col center" *ngFor="let list of filteredList">
      <app-list-card
        [list]="list"
        [firstTime]="firstTime"
        (addToCartEvent)="addToCart($event)"
        (cartDrawerEvent)="drawerCart($event)"
        (click)="showCompanyDetails($event, list)"
      ></app-list-card>
      <!-- (firstTimeEvent)="changeFirstTime($event)" -->
    </div>
  </div>
  <div
    *ngIf="loadingFinalListss"
    class="row"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-sine"
    data-aos-duration="1000"
    data-aos-delay="500"
    data-aos-once="true"
    style="display: flex; flex-wrap: wrap; gap: 20px"
  >
    <div class="col center" *ngIf="loadingFinalListss">
      <h3>Loading posts ...</h3>
    </div>
  </div>
  <div
    style="display: flex !important; justify-content: center !important"
    class="mt-4"
    *ngIf="filteredList.length > 0"
  >
    <nz-pagination
      [(nzPageIndex)]="currentPage"
      [nzTotal]="totalLists"
      nzShowQuickJumper
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzResponsive]="true"
      [nzPageSize]="currentPageSize"
      nzShowSizeChanger
      [nzPageSizeOptions]="[9, 18, 36, 72]"
      [nzSize]="'small'"
    ></nz-pagination>
    <!-- <nz-pagination
      [(nzPageIndex)]="currentPage"
      [nzTotal]="totalLists"
      nzShowQuickJumper
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      [nzResponsive]="true"
      [nzPageSize]="currentPageSize"
      nzShowSizeChanger
      [nzPageSizeOptions]="[10, 20, 30, 50]"
      [nzSize]="'small'"
    ></nz-pagination> -->
  </div>

  <nz-modal
    [(nzVisible)]="isVisibleCompanyDetailsModal"
    nzTitle="Company details"
    nzClosable="true"
    [nzFooter]="companyDetailsModalFooter"
    (nzOnCancel)="handleCancelCompanyDetailsModal()"
    [nzStyle]="{'top': '0', 'transform': 'translateY(7%)'}"
  >
    <ng-container *nzModalContent>
      <!-- <div style="width: 100%; display: flex; justify-content: center;"> -->
      <div class="center">
        <company-modal [company]="selectedCompany"
                       (click)="preventUnauthorized($event)"
        ></company-modal>
      </div>
    </ng-container>
    <ng-template #companyDetailsModalFooter>
      <button
        style="width: 100%"
        nz-button
        nzType="primary"
        (click)="handleCancelCompanyDetailsModal()"
      >Close</button>
    </ng-template>
  </nz-modal>

  <nz-modal
    [(nzVisible)]="isVisibleUnauthorizedAccessModal"
    nzTitle="Exclusive for Registered Users"
    nzClosable="true"
    [nzFooter]="unauthorizedAccessModalFooter"
    (nzOnCancel)="handleCancelUnauthorizedAccessModal()">
    <ng-container *nzModalContent>
      <p>The BSI marketplace is  available for free to registered users.</p>
      <p>
        Please register with your business email address <br />
        Our team will approve your access ASAP.
      </p>
    </ng-container>
    <ng-template #unauthorizedAccessModalFooter>
      <button
        nz-button
        nzType="primary"
      >Register</button>
      <button
        nz-button
        nzType="primary"
        (click)="handleCancelUnauthorizedAccessModal()"
      >Close</button>
    </ng-template>
  </nz-modal>
</nz-content>
