nz-select {
  width: 100%;
}
.card {
  max-width: 300px;
  height: 100% !important;
}
nz-card {
  height: 100% !important;
}
.type-btn {
}
.li-type {
  width: 100%;
  display: flex;
}
.li-type:hover {
  background-color: var(--primaryLight) !important;
  .type {
    span {
      color: #fff !important;
    }
  }
}
.type {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding: 10px !important;
}
// nz-menu-item {
//   background-color: var(--primaryLight) !important;
// }
.filters-row {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
}
.row {
  margin: 3% 0 !important;

  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
}
.col {
  padding: 0 !important;
}
h4 {
  white-space: nowrap !important;
}
.title {
  // color: var(--primary);
}

.placeholder {
  // color: var(--placeholder);
}
nz-collapse-panel {
  font-size: 18px;
}

.filter-icon {
  font-size: 18px;
  vertical-align: 0px;
}

.width-100 {
  width: 100%;
}
.alignLeft {
  text-align: left;
}

.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.global-search-item-count {
  flex: none;
}
.center {
  justify-content: center !important;
  display: flex !important;
}

// @media (max-width: 485px) {
@media (max-width: 735px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .filters-row {
    grid-template-columns: none !important;
    // grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
  }
}


@media (max-width: 352px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(133px, 1fr));
  }
}
.title-question {
  display: flex;
  justify-content: space-between;
}
